---
title: Blog de Rafael Lima - Empreendedor digital.
layout: blog
---

{% for post in paginator.posts %}
  {% include post.html %}
{% endfor %}

<nav class="pagination" role="pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/blog" class="newer-posts">&larr; Mais Novos</a>
    {% else %}
      <a href="/blog/page/{{paginator.previous_page}}" class="newer-posts">&larr; Mais Novos</a>
    {% endif %}
  {% endif %}

  <span class="page-number">Página {{ paginator.page }} de {{ paginator.total_pages }}</span>
  <!--
  {% if paginator.page == 1 %}
    <strong class="on">1</strong>
  {% elsif paginator.page < 5 %}
    <a href="/blog">1</a>
  {% endif %}

  {% capture offset %}{{paginator.page | minus: 5 }}{% endcapture %}

  {% for count in (2..paginator.total_pages) limit:7 offset:offset %}
    {% if count == paginator.page %}
      <strong class="on">{{count}}</strong>
    {% else %}
      <a href="/blog/page/{{count}}">{{count}}</a>
    {% endif %}
  {% endfor %}
  -->

  {% if paginator.next_page %}
    <a href="/blog/page/{{paginator.next_page}}" class="older-posts">Mais Antigos &rarr;</a>
    {% assign total_pages_minus_5 = paginator.total_pages - 5 %}
    {% if paginator.page <= total_pages_minus_5 %}
      <!--a href="/blog/page/{{paginator.total_pages}}">Última »</a-->
    {% endif %}
  {% endif %}
</nav>