<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
  {% include blog_head.html %}
</head>
<body class="home-template">
  <header id="site-head" style="background-image: url(/blog/images/background.png)">
    <div class="vertical">
      <div id="site-head-content" class="inner">
        <a id="blog-logo" href="/blog"><img src="/blog/images/rafael_lima_foto.png" alt="Blog do Rafael Lima" /></a>
        <h1 class="blog-title">Rafael Lima</h1>
        <h2 class="blog-description">Empreendedor digital e desenvolvedor web</h2>
      </div>
    </div>
  </header>
  <main class="content" role="main">
    {{ content }}
  </main>
  {% include footer.html %}
  {% include bottom_scripts.html %}
  <script src="/blog/js/jquery.js"></script>
</body>
</html>