<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>{{ page.title }}</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='Boleto Simples' name='application-name'>
    <meta content='Rafael Lima' name='author'>
    <meta property="og:locale" content="pt_BR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ page.title }}">
    <link rel="shortcut icon" type="image/png" href="https://gravatar.com/avatar/d055bb9d92e05b3435ae854eb8ad7ab3.png?size=100">
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,300italic,400italic,700italic|Open+Sans:800,700,400|Permanent+Marker'>
    <link rel="stylesheet" type="text/css" href="assets/letter.css">
    <link rel="stylesheet" type="text/css" href="assets/button.css">
    <link rel="stylesheet" type="text/css" href="assets/parsley.css">
    <!-- Begin Inspectlet Embed Code -->
    <script type="text/javascript" id="inspectletjs">
    (function() {
    window.__insp = window.__insp || [];
    __insp.push(['wid', 416779121]);
    var ldinsp = function(){ if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=416779121&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
    setTimeout(ldinsp, 0);
    })();
    </script>
    <!-- End Inspectlet Embed Code -->
  </head>
  <body>
    <div class="wrapper">
      <div class="content_container">
        <div class="container">
          {{ content }}
        </div>
      </div>
    </div>
    {% include bottom_scripts.html %}
  </body>
</html>