<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include blog_head.html %}
  </head>
  <body class="post-template">
    <main class="content" role="main">
      <article class="post">
        <header class="post-header">
          <a id="blog-logo" href="/blog">
            <img src="https://gravatar.com/avatar/d055bb9d92e05b3435ae854eb8ad7ab3.png?size=100" alt="Blog de Rafael Lima" />
          </a>
        </header>
        <section class="post-content">
          {{ content }}
        </section>
      </article>
    </main>
    {% include footer.html %}
    {% include bottom_scripts.html %}
    <script src="/blog/js/jquery.js"></script>
  </body>
</html>
